[submodule "JS-Notes/JavaScript-A-Z-Notes"]
	path = JS-Notes/JavaScript-A-Z-Notes
	url = https://github.com/HariAcidReign/JavaScript-A-Z-Notes.git
[submodule "JS-Notes/namaste-javascript-notes"]
	path = JS-Notes/namaste-javascript-notes
	url = https://github.com/alok722/namaste-javascript-notes.git
