/* Navigation bar section */
#navbar{
    flex-direction: column;
}
#logo{
    margin: 0px 2px;
}
#logo img{
    margin: 0px 2px;
    height: 50px;
}
#navbar ul li{
    font-size: 1.0rem;
}
#navbar ul li a{
    padding: 0px 8px;
}


/* Home section */
#home{
    padding: 0px 20px;
}
#home::before{
    height: 565px;
}
#home p{
    font-size: 1.0rem;
    font-family: 'Bree Serif', serif;
    margin: 4px;
}

/* Services section */
#our-services{
    flex-direction: column;
    margin: 12px;
    margin-bottom: 25px;
}
#our-services .box p{
    font-size: 1.1rem;
    margin: 0px;
}
#our-services .box img{
    height: 100px;
}

/* About us section */
#about-box .box{
    margin: 3px;
    padding: 18px;
}
#about-box .box p{
    font-size: 1.1rem;
}
#clients{
    flex-wrap: wrap;
}
#clients .client-item img{
    height: 80px;
}

/* Contact us section */
#contact-box input,
#contact-box textarea{
    font-size: .9rem;
}
#contact-box form{
    width: 50%;
}
#contact-box label{
    font-size: 1rem;
}
#contact-box .butn{
    padding: 1px 16px;
    margin: 2px;
    font-size: 0.9rem;
}

/* Footer section */
footer{
    font-size: 1rem;
}

/* Utility Classes */
.h-primary{
    font-size: 1.9rem;
    padding: 4px;
    margin: 2px;
}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
    padding: 12px;
    margin-bottom: 0px;
}
.h-tertiary{
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
    padding: 12px;
}
.btn{
    padding: 1px 12px;
    margin: 3px;
    border: 2px solid silver;
    border-radius: 18px;
    background-color: maroon;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1.0rem;
}